// type

@import 'https://fonts.googleapis.com/css?family=Maitree:400,600|Roboto:300,300i,400'
@font-face
	font-family: 'Erato Light'
	src: url(https://randomfont.com/fonts/erato/Erato-Light.woff)

body
	color: $base
	font-family: $serif
h1
	font-size: 2em
code
	background-color: $gray
	color: $base-light
	padding: 2px 4px
pre
	code
		color: $base

